/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Common styling*/

@font-face {
  font-family: Akkurat-Bold;
  src: url('fonts/Akkurat-Bold.ttf');
}

@font-face {
  font-family: Akkurat;
  src: url('fonts/Akkurat.ttf');
}

@font-face {
  font-family: Knockout HTF47Bantamweight Regular;
  src: url('Knockout HTF47Bantamweight Regular.otf');
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

a {
  color: white;
}

body * {
  font-family: 'Akkurat';
  text-decoration: none;
}

.layer-1 {
  position: absolute;
  background-color: #F6F6F6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer-2 {
  height: 100%;
  position: absolute;
  margin-top: -540px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.o {
  width: 700px;
  height: 700px;
  background: #EEEEEE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px
}

.sub-o {
  width: 520px;
  height: 520px;
  background: #F6F6F6;
  border-radius: 50%;
}

.layer-3-container {
  width: 90%;
  height: 75vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 5vh;
  left: 5vw;
}

.layer-3-container .logo {
  width: 5%;
}

.layer-3-container .logo img:first-of-type {
  filter: invert(1);
}

.layer-3-container .logo img {
  display: block;
  width: 100%;
}

/*HEADER*/

.layer-3-container header {
  width: 95%;
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layer-3-container header nav {
  margin-left: 5%;
}

.layer-3-container header nav ul {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  font-size: 0.8rem;
}

.layer-3-container header nav ul li a {
  color: #7E7E7E;
  border-bottom: 1px solid #00000000;
  transition: border-bottom .5s;
}

.layer-3-container header nav ul li a:hover {
  color: #02A1D4;
  border-bottom: 1px solid #02A1D4;
  transition: border-bottom .5s;
}

.layer-3-container header .search-box {
  width: 150px;
  height: 30px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 10px;
  border: 1px solid #CFCFCF;
}

.search-and-login {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  border: 0;
  width: 100px;
  height: 30px;
  color: #A6A6A6;
}

input:focus {
  outline: none;
}

.search-box a i {
  color: #02A1D4;
}

.button {
  background:#02A1D4;
  padding: 10px;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thesis {
  width: 20%;
  position: absolute;
  bottom: 0px;
}

.thesis h2 {
  font-family: 'Knockout HTF47Bantamweight Regular';
  color: black;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.thesis .button {
  width: 130px;
  margin-top: 20px;
}

.windows {
  width: 70%;
  height: 420px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.black {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.darkening {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0deg, black, transparent 50%);
}

.windows .crowd {
  width: 49%;
  height: 270px;
  position: relative;
  background-image: url('crowd.png');
  background-position: center;
  background-size: cover;
}

.windows .crowd .window-0 {
  position: absolute;
  z-index: 3;
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 160px 20px 20px 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 0.65rem;
}

.windows .crowd .window-0 * {
  color: #A6A6A6;
  line-height: 1rem;
}

.windows .crowd .window-0 h3 {
  color: white;
  font-size: 0.8rem;
}

.windows .crowd .window-0 a {
  color: #02A1D4;
}

.windows .crowd .window-0 a i {
  color: #02A1D4;
}

.black {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}

.darkening {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(0deg, black, transparent 50%);
}

.half-cont {
  width: 49%;
  height: 270px;
  display: flex;
  justify-content: space-between;
}

.half-cont:nth-of-type(3) {
  height: 135px;
}

.windows article {
  width: 48%;
  background: white;
  font-size: 0.65rem;
  padding: 15px 20px 15px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.windows .crowd::before {
  content: '';
  width: 5px;
  height: 2rem;
  background: #F2891E;
  position: absolute;
  left: -5px;
  top: 15px;
}

.windows article:nth-child(odd)::before {
  content: '';
  width: 5px;
  height: 2rem;
  background: #80BD26;
  position: absolute;
  left: -5px;
  top: 15px;
}

.windows .half-cont:nth-of-type(2) article:nth-child(2)::before {
  content: '';
  width: 5px;
  height: 2rem;
  background: #FB7A7A;
  position: absolute;
  left: -5px;
  top: 15px;
}

.windows article h3 {
  font-size: 0.8rem;
}

.windows article h4 {
  font-family: 'Knockout HTF47Bantamweight Regular';
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1.2rem;
}

.windows article h5 {
  font-family: 'Knockout HTF47Bantamweight Regular';
  font-size: 3rem;
  font-weight: lighter;
  line-height: 2.4rem;
  color: #02A1D4;
  display: flex;
  align-items: center;
}

.windows article h5 i {
  font-size: 1.5rem;
  color: #80BD26;
  padding-left: 5px;
}

.windows article * {
  line-height: 1rem;
}

.windows article > p {
  color: #888888;
  width: 120px;
  height: 100px;
  margin-top: 5px;
  font-size: 0.6rem;
}

.windows article .banner{
  display: flex;
  align-items: center;
  font-size: 0.55rem;
  font-weight: bold;
  /* margin-bottom: 12px; */
}

.windows article .banner img {
  width: 30%;
}

.windows article .banner p {
  color: black;
  padding-left: 7px;
}

.windows a {
  color: #02A1D4;
}

.windows a i {
  padding: 0 5px;
}

.window-1, .window-2 {
  height: 270px;
}

.window-3, .window-4, .window-5 {
  height: 135px;
}

.conference {
  background-image: url('conference.png');
  width: 49%;
  height: 135px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.window-5 {
  position: absolute;
  z-index: 3;
  bottom:0;
  left:0;
  right:0;
  color: white;
  font-size: 0.8rem;
  display: flex;
  box-sizing: border-box;
  padding: 0 15px 15px 15px;
  justify-content: space-between;
  align-items: flex-end;
}

.window-5 p {
  color: #A6A6A6;
}

.welcome {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

footer {
  position: absolute;
  width: 90vw;
  height: 15vh;
  left:5vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #919191;
  color: #F6F6F6;
  line-height: 1.3rem;
  font-size: 0.7rem;
  padding-bottom: 10px;
}

address {
  font-style: normal;
}

footer .addresses {
  display: flex;
  justify-content: space-between;
  width: 45%;
  color: #919191;
}

footer .addresses h6 {
  color: black;
}

.footer-right {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.footer-right .copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: #888888;
  margin-right: 4%;
}

.footer-right .copyright .cr-top {
  display: flex;
}

.cr-top *, .cr-bottom * {
  margin: 0 5px;
}

.footer-right .copyright .cr-bottom {
  display: flex;
  /* justify-content: space-between; */
}

.footer-right .copyright a {
  color: #888888;
  text-decoration: underline;
}

.footer-right .language {
  height: 25px;
  position: relative;
  width: 15%;
}

.footer-right .language * {
  color: #888888;
}

.footer-right .language .language-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #404041;
  width: 55px;
  padding-top: 3px;
}

.footer-right .language .language-inner div:not(:nth-child(4)) {
  display: none;
}

.footer-right .language:hover .language-inner div {
  display: block;
}

.footer-right .language .language-inner div img {
  width: 15px;
  height: 10px;
  padding: 0 7px;
}

.footer-right .social-media {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.footer-right .social-media i {
  font-size: 1rem;
  color: #888888;
  margin-top: 7px;
}
